<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>To do list</title>
  <!-- the file link should be given as if its present inside the public folder and from it file location must be given  -->
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
